<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Lugar de Nacimiento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h1>Limon, Colon, Honduras</h1>
  <h3>Es un lugar agradable, muy bello y turistico, donde las personas somos bien sociables y trabajadoras.</h3>

  <img src="https://lh3.googleusercontent.com/p/AF1QipNo7hwlk6aQMr42E1VpyMRd-vlYySeggKQ0klxk=s1600-w400">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYAxGyRk9P9kOc-QoGgGDLdr7CSIk2wZu4LYqm0DS88IK-p0tyeeQZ8cX1muG3pZfxrB0&usqp=CAU">

</ion-content>
