<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Descripcion Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<h3>Yeni Yosely Mejia</h3>
<h4>Soy una persona muy alegre, amistosa, cariñosa y sobre todo respetuosa, me gusta ser una persona persistente y no me rindo facilmente.</h4>

<img src="https://media.istockphoto.com/vectors/woman-thinking-vector-id614849310?k=20&m=614849310&s=170667a&w=0&h=CyQDoCaOd0EDh7m5_1c6sLHsg5OAvF9IR5bCfQsPuL8=">

</ion-content>


